// pmahomme-dark modification by Fakeman Cat, 2026-08-18.
// Based on phpMyAdmin pmahomme; SPDX-License-Identifier: GPL-2.0-only.

@import "../../bootstrap/scss/breadcrumb";

.breadcrumb-navbar {
  text-shadow: 0 1px 0 #000;

  .breadcrumb-item {
    + .breadcrumb-comment {
      padding-left: 0.5rem;
    }

    a {
      color: #fff;
    }
  }

  .breadcrumb-comment {
    color: #d6d6d6;
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
  }
}
